@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
:root {
  --card-border: linear-gradient(
    to right,
    #bf953f,
    #fcf6ba,
    #b38728,
    #fbf5b7,
    #aa771c
  );
}
* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.info p {
  margin: 0;
}

.info .pokeType {
  font-size: 0.7rem;
}

.info .pokeName {
  font-weight: 700;
}

.info span.hp {
  float: right;
  color: red;
}

#pokeCard {
  border: 10px solid gray;
  height: 350px;
}

#pokeCard img {
  border: 2px solid gold;
  height: 150px;
  width: 200px;
}

img {
  z-index: -1;
  padding: 0;
  margin: 0;
}
