@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
:root {
  --card-border: linear-gradient(
    to right,
    #bf953f,
    #fcf6ba,
    #b38728,
    #fbf5b7,
    #aa771c
  );
}
* {
  box-sizing: border-box;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}

header .title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header .title h1 {
  margin-bottom: 0;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  flex-wrap: wrap;
}

.wrapper {
  padding: 1rem;
  position: relative;
  background: linear-gradient(to right, red, purple);

  padding: 10px;
  height: 600px;
  width: 450px;
  border-radius: 0.5rem;
}

.pokeCard {
  background: white;
  display: flex;
  flex-direction: column;
  border: 4px solid brown;
  height: 100%;
}

.image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.image img {
  border: 2px solid gold;
  width: 100%;
  height: 200px;
}

.info {
  display: flex;
  flex-direction: column;
}

.info .infoUpper {
  display: flex;
  justify-content: space-between;
}

.info .infoLower {
  display: flex;
  justify-content: space-between;
  padding-bottom: ;
}

.info .infoUpper p,
.info .infoLower p {
  margin-right: 10px;
}

.info .infoLower .hp {
  color: red;
  font-weight: 700;
}

h4 {
  margin: 0 auto;
  margin-top: 1rem;
}

p {
  margin-top: 0.5rem;
  margin-inline: 1rem;
}

.ability {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
